
.container-nav {
  background: linear-gradient(to right, rgb(91, 91, 212), rgb(111, 213, 111));
  width: 500px;
  margin: auto;
  margin-top: 30px;
  padding: 0px 3rem;
}

.container {
  background: linear-gradient(to right, rgb(91, 91, 212), rgb(111, 213, 111));
  height: 600px;
  width: 500px;
  margin: auto;
  margin-top: 30px;
  padding: 0px 3rem;
  overflow: hidden;
}

.todos-heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.create-task-heading {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
}

.create-task-heading-subpart {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
}

.todo-items-heading {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
}

.todo-items-heading-subpart {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
}

.todo-items-container {
  margin: 0px;
  padding: 0px;
}

.todo-item-container {
  margin-top: 15px;
}

.todo-user-input {
  background-color: white;
  
  border-style: solid;
  border-width: 1px;
  border-color: #e4e7eb;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
}
.add-todo-button{

  margin-left: 20px;
}

/* Aroj CSS styles*/

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding-top: 10px;
  gap: 1rem;
  font-size: 14px;
  font-weight: 600;
}

.typeItems {
  width: 455px;
}

.itemsContainer{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

.iconsContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.3rem;
  margin-left: auto;
  margin-top: 1rem;
  width: 20%;
  height: 1.5rem;
}

.foot{
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(-2rem);

}